.todo-box {
    border: 2px solid white;
    border-radius: 2%;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 18px;
    /* margin: 10%; */
}



.pending {
    background-color: #F3A600;
}




.button {
    font-size: large;
    padding: 5px 12px;
    text-align: left;
    padding-left: 3px;
    color: black;
}

.completed {
    background-color: #C77AFA;
    padding: 5px 1px;
    text-align: center;
}

.delete {
    color: black;
    background-color: red;
    border-radius: 1px solid black;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 5px;

    /* padding: 2px 11px; */
    /* margin: 8%; */
}

.description {
    /* flex-grow: 3;
        width: 70%; */
    flex: 1;
    /* /* margin-right: 50px; */
    padding-right: 50px;
    /* justify-self: flex-start; */

    text-align: left;
}

.completed-txt{
    text-decoration:line-through;
    
}