.list-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 450px;
    height: 500px;
}

.pending-tasks{
    color: white;
    font-size: x-large;
    flex-grow: 1;
}

.todo{
    padding-bottom: 10px;
}

.todos{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
    
}