.todo-box {
    border: 2px solid white;
    border-radius: 2%;
    color: white;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 5px 18px;
    background-color: black;
}

.pending {
    background-color: #F3A600;
}

.button {
    font-size: large;
    padding: 5px 12px;
    text-align: left;
    padding-left: 3px;
    color: black;
}

.completed {
    background-color: #C77AFA;
    padding: 3px 1px;
    text-align: center;
    outline: 1.5px solid white;
    outline-offset: 2px;
}

.delete {
    background-color: red;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 7px;
    font-size: medium;
    font-weight: 600;
}

.description {
    flex: 1;
    padding-right: 50px;
    text-align: left;
}

.completed-txt {
    text-decoration: line-through;
}